# This node is a server, not just a client
# Client forwards requests, no data, no Raft
# Server participates in Raft, stores data, can become leader
consul_server: true

# Do not form a Raft cluster until this many Consul servers are present.
# applies only to Consul servers (consul_server = true)
# initial Raft bootstrap setting
bootstrap_expect: 1

#The Consul datacenter name this agent belongs to
# Raft consensus happens per datacenter
# ACLs, intentions, and services are namespaced by datacenter
# WAN federation happens between datacenters
consul_datacenter: dc1



# internally used addresses

# local interface the Consul agent binds to
# affects listeners and gossip
# never used by other services directly
consul_internal_bind_addr: "{{ ansible_default_ipv4.address }}"

# Consul internal – cluster identity
# used only for Consul ↔ Consul communication
consul_internal_advertise_addr: "{{ ansible_default_ipv4.address }}"