# This node is a server, not just a client
# Client forwards requests, no data, no Raft
# Server participates in Raft, stores data, can become leader
consul_server: true

# Do not form a Raft cluster until this many Consul servers are present.
# applies only to Consul servers (consul_server = true)
# initial Raft bootstrap setting
bootstrap_expect: 1

#The Consul datacenter name this agent belongs to
# Raft consensus happens per datacenter
# ACLs, intentions, and services are namespaced by datacenter
# WAN federation happens between datacenters
consul_datacenter: dc1

# internally used addresses

# local interface the Consul agent binds to
# affects listeners and gossip
# never used by other services directly
consul_internal_bind_addr: "{{ ansible_default_ipv4.address }}"

# Consul internal – cluster identity
# used only for Consul ↔ Consul communication
consul_internal_advertise_addr: "{{ ansible_default_ipv4.address }}"

# Installation and configuration
consul_version: "1.22.2"

# User / group
consul_user: consul
consul_group: consul

# Paths
consul_data_dir: /opt/consul/data
consul_config_dir: /etc/consul.d
consul_install_dir: /usr/local/bin
consul_binary_path: "{{consul_install_dir}}/consul"

# TLS configuration
consul_tls_dir: /etc/consul.d/tls
consul_server_cert_file: consul.pem
consul_server_key_file: consul.key
consul_server_cert_path: "{{ consul_tls_dir }}/{{ consul_server_cert_file }}"
consul_server_key_path: "{{ consul_tls_dir }}/{{ consul_server_key_file }}"
consul_ca_cert_path: "{{ consul_tls_dir }}/{{ ca_cert_file }}"

# Logging
consul_log_level: INFO
