---


# Vault → Consul API
- name: Allow Vault nodes to access Consul HTTP API
  iptables:
    chain: INPUT
    protocol: tcp
    destination_port: "{{ consul_agent_api_port }}"
    source: "{{ hostvars[item].ansible_default_ipv4.address }}"
    jump: ACCEPT
    comment: "Vault -> Consul HTTP API"
  loop: "{{ groups['vault'] | default([]) }}"

# Bastion → Consul API
- name: Allow Bastion nodes to access Consul HTTP API
  iptables:
    chain: INPUT
    protocol: tcp
    destination_port: "{{ consul_agent_api_port }}"
    source: "{{ hostvars[item].bastion_private_ip }}"
    jump: ACCEPT
    comment: "Bastion -> Consul HTTP API"
  loop: "{{ groups['bastion'] | default([]) }}"

# Allow established connections
# Otherwise responses to HTTP requests from Vault and Bastion will be dropped
- name: Allow established connections
  iptables:
    chain: INPUT
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT