---
- name: Install required packages
  apt:
    name:
      - unzip
      - curl
    state: present
    update_cache: yes

- name: Create Consul group
  group:
    name: "{{ consul_group }}"

- name: Create Consul user
  user:
    name: "{{ consul_user }}"
    group: "{{ consul_group }}"
    system: yes
    shell: /usr/sbin/nologin

- name: Create Consul directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ consul_user }}"
    group: "{{ consul_group }}"
    mode: "0750"
  loop:
    - "{{ consul_data_dir }}"
    - "{{ consul_config_dir }}"

- name: Download Consul
  get_url:
    url: "https://releases.hashicorp.com/consul/{{ consul_version }}/consul_{{ consul_version }}_linux_amd64.zip"
    dest: "{{ consul_tmp_zip }}"
    mode: "0644"

- name: Unzip Consul
  unarchive:
    src: "{{ consul_tmp_zip }}"
    dest: /usr/local/bin/
    remote_src: yes

- name: Set Consul binary permissions
  file:
    path: "{{ consul_binary_path }}"
    owner: root
    group: root
    mode: "0755"
