# Firewall
# Otherwise responses to HTTP requests from Vault and Bastion will be dropped
- import_tasks: firewall.yaml

- import_tasks: install.yaml
- import_tasks: configure.yaml
- import_tasks: service.yaml






















