---
- name: Install Consul systemd unit
  copy:
    dest: /etc/systemd/system/consul.service
    mode: "0644"
    content: |
      [Unit]
      Description=Consul
      Requires=network-online.target
      After=network-online.target

      [Service]
      User={{ consul_user }}
      Group={{ consul_group }}
      ExecStart={{ consul_binary_path }} agent \
        -config-dir={{ consul_config_dir }}
      Restart=on-failure
      LimitNOFILE=65536

      [Install]
      WantedBy=multi-user.target

- name: Reload systemd
  systemd:
    daemon_reload: yes

- name: Enable and start Consul
  systemd:
    name: consul
    enabled: yes
    state: started
