- hosts: bastion_primary
  become: false
  gather_facts: false
  tasks:
  # verify mTLS from Bastion to Vault and Consul
  - name: Verify Vault HTTPS API from Bastion
    include_role:
      name: verify_https
    vars:
      verify_https_name: "Vault api"
      verify_https_url: "{{ vault_api_addr }}{{ vault_api_health_path }}"
      # mTLS client certs for Bastion → Consul
      verify_https_client_cert: "{{ bastion_client_auth_to_vault_cert_path }}"
      verify_https_client_key: "{{ bastion_client_auth_to_vault_key_path }}"
      # for Ansible to verify Consul server certs signed by our CA
      verify_https_ca_cert: "{{ bastion_ca_cert_path }}"
      verify_https_expected_status: [ 200, 429, 501 ]

  - name: Verify Consul HTTPS API from Bastion
    include_role:
      name: verify_https
    vars:
      verify_https_name: "Consul api"
      verify_https_url: "{{ consul_api_addr }}{{ consul_api_leader_path}}"
      # mTLS client certs for Bastion → Consul
      verify_https_client_cert: "{{ bastion_client_auth_to_consul_cert_path }}"
      verify_https_client_key: "{{ bastion_client_auth_to_consul_key_path }}"
      # for Ansible to verify Consul server certs signed by our CA
      verify_https_ca_cert: "{{ bastion_ca_cert_path }}"
      verify_https_expected_status: [ 200 ]
