# Each service must be able to read its own Consul token at runtime.
# Where does a running Consul agent / Vault process read its Consul token from?


# The Consul agent process reads this file on startup, keeps the token in memory, uses it for all agent actions
# Vault reads the token once at startup, keeps it in memory, uses it to write KV, create sessions

- name: Retrieve Consul ACL tokens from files on Bastion and store into facts
  hosts: "{{ bastion_primary_host }}"
  gather_facts: false
  become: true
  tasks:
  - name: Read Consul server agent token
    slurp:
      src: "{{ consul_tokens_tmp_dir }}/consul-server.token"
    register: consul_server_token_file
    no_log: true

  - name: Read Vault Consul backend token
    slurp:
      src: "{{ consul_tokens_tmp_dir }}/vault-backend.token"
    register: vault_consul_token_file
    no_log: true

  - set_fact:
      consul_server_agent_token: "{{ consul_server_token_file.content | b64decode | trim }}"
      vault_consul_token: "{{ vault_consul_token_file.content | b64decode | trim }}"
    no_log: true



- name: Distribute Consul agent token to Consul servers
  hosts: consul_servers
  become: true

  vars:
    consul_server_agent_token: "{{ hostvars[bastion_primary_host].consul_server_agent_token }}"

  tasks:
  - name: Install Consul agent token
    copy:
      dest: "{{ consul_server_agent_token_path }}"
      owner: consul
      group: consul
      mode: "0600"
      content: |
        acl {
          tokens {
            agent = "{{ consul_server_agent_token }}"
          }
        }
    no_log: true

  - name: Restart Consul
    service:
      name: consul
      state: restarted



- name: Distribute Vault Consul backend token to Vault servers
  hosts: vault
  become: true

  vars:
    vault_consul_token: "{{ hostvars[bastion_primary_host].vault_consul_token }}"

  tasks:
  - name: Install Vault Consul storage config
    copy:
      dest: "{{ vault_consul_agent_token_path }}"
      owner: vault
      group: vault
      mode: "0600"
      content: |
        storage "consul" {
          address = "{{ consul_api_addr }}"
          token   = "{{ vault_consul_token }}"
          path    = "{{ vault_prefix_in_consul_store | default('vault/') }}"
        }
    no_log: true

  - name: Restart Vault
    service:
      name: vault
      state: restarted