#Checks:
 
# TLS alone is no longer sufficient, ACL is enabled, mTLS client certs do not grant access by themselves, agent certs ≠ ACL permissions

# Vault has exactly the permissions it needs, can not write outside its dedicated prefix

# HTTP API is not reachable from Bastion or Vault, or Consul servers 

# Consul servers have exactly the permissions they need, can read catalog but not write arbitrary KV

- name: Verify Consul ACLs from Bastion
  hosts: bastion_primary
  become: true
  gather_facts: false

  tasks:
  # TLS alone ≠ authorization
  - name: Unauthenticated KV write is denied
    uri:
      url: "{{ consul_api_addr }}/v1/kv/acl-test-deny"
      method: PUT
      body: "deny"
      status_code: [ 401, 403 ]
      validate_certs: true
      # to validate Consul server certs signed by this CA
      ca_path: "{{ bastion_ca_cert_path }}"
      # to authenticate to Consul with Bastion’s client certs
      client_cert: "{{ bastion_client_auth_to_consul_cert_path }}"
      client_key: "{{ bastion_client_auth_to_consul_key_path }}"
    changed_when: false

  - name: HTTP API is not reachable from Bastion
    uri:
      url: "http://{{ consul_service_name }}:{{ consul_http_port }}{{ consul_api_leader_path }}"
      method: GET
      status_code: 0
    register: http_test
    failed_when: http_test is succeeded
    changed_when: false

# From VAULT test Consul access
- name: Verify Vault Consul ACL usage
  hosts: vault
  become: true
  gather_facts: false

  tasks:
  - name: Read Vault token for Consul backend from disk
    slurp:
      src: "{{ vault_consul_agent_token_path }}"
    register: vault_consul_token_file
    no_log: true

  - name: Extract Vault Consul token
    set_fact:
      vault_consul_token: >-
        {{ (vault_consul_token_file.content | b64decode)
           | regex_search('token\\s*=\\s*"([^"]+)"', '\\1') }}
    no_log: true

  - name: Vault token can write to vault/ prefix
    uri:
      url: "{{ consul_api_addr }}/v1/kv/{{ vault_prefix_in_consul_store }}acl-test"
      method: PUT
      headers:
        X-Consul-Token: "{{ vault_consul_token }}"
      body: "ok"
      status_code: 200
      validate_certs: true
      # to validate Consul server certs signed by this CA
      ca_path: "{{ vault_ca_cert_path }}"
      # to authenticate to Consul with Vault’s client certs
      client_cert: "{{ vault_client_auth_to_consul_cert_path }}"
      client_key: "{{ vault_client_auth_to_consul_key_path }}"
    changed_when: false

  - name: Vault token cannot write outside vault/ prefix
    uri:
      url: "{{ consul_api_addr }}/v1/kv/not-vault/acl-test"
      method: PUT
      headers:
        X-Consul-Token: "{{ vault_consul_token }}"
      body: "deny"
      status_code: [ 401, 403 ]
      validate_certs: true
      ca_path: "{{ vault_ca_cert_path }}"
      client_cert: "{{ vault_client_auth_to_consul_cert_path }}"
      client_key: "{{ vault_client_auth_to_consul_key_path }}"
    changed_when: false

  - name: HTTP API is not reachable from Vault
    uri:
      url: "http://{{ consul_service_name }}:{{ consul_http_port }}{{ consul_api_leader_path }}"
      method: GET
      status_code: 0
    register: http_test
    failed_when: http_test is succeeded
    changed_when: false

# From CONSUL test Consul access
- name: Verify Consul agent ACL usage
  hosts: consul_servers
  become: true
  gather_facts: false

  tasks:
  - name: Read Consul agent token
    slurp:
      src: "{{ consul_server_agent_token_path}}"
    register: consul_agent_token_file
    no_log: true

  - name: Extract Consul agent token
    set_fact:
      consul_agent_token: >-
        {{ (consul_agent_token_file.content | b64decode)
           | regex_search('agent\\s*=\\s*"([^"]+)"', '\\1') }}
    no_log: true

  - name: Agent token can read catalog
    uri:
      url: "{{ consul_api_addr }}/v1/catalog/services"
      method: GET
      headers:
        X-Consul-Token: "{{ consul_agent_token }}"
      status_code: 200
      validate_certs: true
      ca_path: "{{ consul_ca_cert_path }}"
      client_cert: "{{ consul_server_cert_path }}"
      client_key: "{{ consul_server_key_path }}"
    changed_when: false

  - name: Agent token cannot write arbitrary KV
    uri:
      url: "{{ consul_api_addr }}/v1/kv/random/acl-test"
      method: PUT
      headers:
        X-Consul-Token: "{{ consul_agent_token }}"
      body: "deny"
      status_code: [ 401, 403 ]
      validate_certs: true
      ca_path: "{{ consul_ca_cert_path }}"
      client_cert: "{{ consul_server_cert_path }}"
      client_key: "{{ consul_server_key_path }}"
    changed_when: false

  - name: HTTP API is not reachable from Consul server
    uri:
      url: "http://127.0.0.1:{{ consul_http_port }}{{ consul_api_leader_path }}"
      method: GET
      status_code: 0
    register: http_test
    failed_when: http_test is succeeded
    changed_when: false
