- name: Deploy Vault configuration
  template:
    src: vault.hcl.j2
    dest: "{{ vault_config_dir }}/vault.hcl"
    owner: "{{ vault_user }}"
    group: "{{ vault_group }}"
    mode: "0640"
  notify: restart vault

- name: Install Vault systemd unit
  copy:
    dest: /etc/systemd/system/vault.service
    mode: "0644"
    content: |
      [Unit]
      Description=Vault
      Requires=network-online.target
      After=network-online.target

      [Service]
      User={{ vault_user }}
      Group={{ vault_group }}
      ExecStart= {{ vault_install_dir }} agent \
        -config-dir={{ vault_config_dir }}
      Restart=on-failure
      LimitNOFILE=65536

      [Install]
      WantedBy=multi-user.target