- name: Install Vault systemd unit
  copy:
    dest: /etc/systemd/system/vault.service
    mode: "0644"
    content: |
      [Unit]
      Description=Vault
      Requires=network-online.target
      After=network-online.target

      [Service]
      User={{ vault_user }}
      Group={{ vault_group }}
      ExecStart={{ vault_binary_path }} server -config={{ vault_config_dir }}
      Restart=on-failure
      LimitNOFILE=65536
      CapabilityBoundingSet=CAP_IPC_LOCK
      AmbientCapabilities=CAP_IPC_LOCK

      [Install]
      WantedBy=multi-user.target
      
- name: Reload systemd
  systemd:
    daemon_reload: yes

- name: Enable and start Vault
  systemd:
    name: vault
    enabled: yes
    state: started

- name: Wait for Vault API to respond on HTTP
  uri:
    url: "{{ vault_api_scheme }}://{{ ansible_default_ipv4.address }}:{{ vault_api_port }}{{vault_api_health_path}}"
    method: GET
    status_code: [200, 429, 501]
  register: vault_health
  retries: 10
  delay: 3
  until: vault_health.status in [200, 429, 501]
  changed_when: false
