- name: Add SSH host keys to bastion known_hosts
  hosts: bastion
  gather_facts: false
  tasks:
    - name: Wait for SSH to be available
      wait_for:
        host: "{{ hostvars[item].ansible_host }}"
        port: 22
        timeout: 60
      loop: "{{ groups['consul'] + groups['vault'] }}"
    # hashing known_hosts prevents leaking sensitive information about the infrastructure 
    # in case the known_hosts file is exposed; 
    # it also prevents potential issues with duplicate hostnames/IPs in the known_hosts file 
    # when nodes are recreated with the same names/IPs
    # the setting means: All SSH clients on this system must hash hostnames when they add entries to the known_hosts file;
    - name: Enable hashed SSH known_hosts
      become: true
      lineinfile:
        path: /etc/ssh/ssh_config
        line: "HashKnownHosts yes"
        state: present
    - name: Ensure ansible .ssh directory exists
      file:
        path: /home/ansible/.ssh
        state: directory
        owner: ansible
        group: ansible
        mode: "0700"
    - name: Ensure ansible known_hosts file exists
      file:
        path: /home/ansible/.ssh/known_hosts
        state: touch
        owner: ansible
        group: ansible
        mode: "0644"
    - name: Scan SSH host keys
      command: >
        ssh-keyscan -T 5 -t ed25519,rsa -H {{ hostvars[item].ansible_host }}
      # register stores the list of all scanned keys in keyscan variable; 
      # we will loop over this list in the next task to add each key to known_hosts; 
      register: keyscan
      changed_when: false
      failed_when: false
      loop: "{{ groups['consul'] + groups['vault'] }}"
    - debug:
      var: keyscan
    - name: Add SSH host keys to known_hosts
      no_log: true
      known_hosts:
        path: /home/ansible/.ssh/known_hosts
        name: "{{ hostvars[item.item].ansible_host }}"
        key: "{{ item.stdout }}"
      # loops over objects like this:
      # keyscan:
      #   results:
      #      - item: consul-1
      #        stdout: "|1|abc... ssh-ed25519 AAAA..."
      #        rc: 0
      loop: "{{ keyscan.results }}"