---
### Bootstrap TLS (phase 2): distribute TLS material and enable TLS on services

##### On Vault
# - Install TLS material generated on Bastion
#   - CA certificate to validate client certs
#   - Vault server certificate + private key
#   - Vault client certificate + private key (for Vault → Consul mTLS)
# - Rewrite Vault config: listener → HTTPS, api_addr → HTTPS
# - Restart Vault

#### On Consul
# Install TLS material generated on Bastion
#   - CA certificate to validate client certs
#   - Consul server certificate + private key
# Rewrite Consul config: HTTP → HTTPS (API), Restart Consul

# Should fail if Vault already has TLS enabled
# The playbook must never be rerun after TLS bootstrap is completed

- name: Pre-flight checks on Vault
  hosts: vault
  gather_facts: false
  become: false

  tasks:
  - name: Health check on Vault http endpoint and initialization status
    block:
    - import_tasks: ../tasks/bootstrap-tls-vault-consul/00_preflight_checks_vault_api.yaml

- name: Pre-flight bootstrap marker check on Bastion
  hosts: bastion
  gather_facts: false
  become: false
  vars_files:
  - ../vars/bootstrap-tls-vault-consul.yaml
  tasks:
  - name: Check bootstrap marker file exists on Bastion
    block:
    - import_tasks: ../tasks/bootstrap-tls-vault-consul/00_preflight_checks_bastion_marker.yaml


## DISTRIBUTE TLS MATERIAL TO VAULT + CONSUL + BASTION
- name: Copy Vault TLS material from Bastion to Vault
  hosts: vault
  gather_facts: true
  become: true
  vars_files:
    - ../vars/bootstrap-tls-vault-consul.yaml
  tasks:
    - name: Copy Vault TLS material from Bastion to Vault
      import_tasks: ../tasks/bootstrap-tls-vault-consul/30_distribute_tls_vault.yaml

- name: Copy Consul TLS material from Bastion to Consul
  hosts: consul
  gather_facts: true
  become: true
  vars_files:
    - ../vars/bootstrap-tls-vault-consul.yaml
  tasks:
    - name: Copy Consul TLS material from Bastion to Consul
      import_tasks: ../tasks/bootstrap-tls-vault-consul/31_distribute_tls_consul.yaml

- name: Install Bastion client TLS material for Consul and Vault on each Bastion host
  hosts: bastion
  gather_facts: true
  become: true
  vars_files:
    - ../vars/bootstrap-tls-vault-consul.yaml
  tasks:
    - name: Install Bastion client certificate for Consul mTLS
      import_tasks: ../tasks/bootstrap-tls-vault-consul/33_distribute_tls_to_other_bastions.yaml
