---
### Bootstrap TLS (phase 3): enable TLS on services and validate

# Should fail if Vault already has TLS enabled
# The playbook must never be rerun after TLS bootstrap is completed

- name: Pre-flight checks on Vault
  hosts: vault
  gather_facts: false
  become: false

  tasks:
  - name: Health check on Vault http endpoint and initialization status
    block:
    - import_tasks: ../tasks/bootstrap-tls-vault-consul/00_preflight_checks_vault_api.yaml

- name: Pre-flight bootstrap marker check on Bastion
  hosts: bastion
  gather_facts: false
  become: false
  vars_files:
  - ../vars/bootstrap-tls-vault-consul.yaml
  tasks:
  - name: Check bootstrap marker file exists on Bastion
    block:
    - import_tasks: ../tasks/bootstrap-tls-vault-consul/00_preflight_checks_bastion_marker.yaml
    
# Reconfigure and restart Vault + Consul to use TLS
- import_playbook: ../tasks/bootstrap-tls-vault-consul/40_reconfigure_consul_for_tls.yaml
- import_playbook: ../tasks/bootstrap-tls-vault-consul/41_reconfigure_vault_for_tls.yaml
- import_playbook: ../tasks/bootstrap-tls-vault-consul/90_verify_and_mark.yaml